<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>background-mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngFor="let method of methods" (click)="invokeMethod(method)" style="text-transform: none;"> {{label(method)}} </ion-button>
  
  <p>isEnabled: {{backgroundModePlugin.isEnabled}}</p>
  <p>isActive: {{backgroundModePlugin.isActive}}</p>

  <pre>{{results | json }}</pre>
</ion-content>
