<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878880710881-i268et4nse7por6hacdii31oob80i2od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878880710881-i268et4nse7por6hacdii31oob80i2od</string>
	<key>API_KEY</key>
	<string>AIzaSyA1G4xRklA9Sz746YeG-Pl_UoWaeiGnc5A</string>
	<key>GCM_SENDER_ID</key>
	<string>878880710881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.metacodi.com</string>
	<key>PROJECT_ID</key>
	<string>test-ae6b8</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ae6b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878880710881:ios:72fa62c825369251c157a0</string>
</dict>
</plist>